GITHUB_USER=olifog
GITHUB_TOKEN=
KNOT_CONTAINER=knot-knot-1
KNOT_DB_PATH=/data/knotserver.db
KNOT_DB_HOST_DIR=/home/olifog/services/knot/server
KNOT_REPO_BASE=/home/git/repositories
SYNC_INTERVAL=120
SYNC_DIRECTION=github-to-knot
